.outer-cont{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 100px;
    justify-content: space-evenly;
    background-color: #f7ac43;
    border-radius: 10px;
    box-shadow: 0 3px 10px grey;
}
.Error-img {
    width: fit-content;
    
}
.outer-cont img {
    width: 400px;
    margin: 20px;
}
.outer-cont p{
    margin-top: 140px;
    font-size:60px;
    font-weight: 400;
    height: fit-content;
}


@media screen and (max-width:464px) {
    .outer-cont{
        margin: 20px;
        margin-top: 70px;
    }

    .outer-cont img {
        width: 150px;
    }

    .outer-cont p{
        font-size: 15px;
        margin-top:50px;
        padding: 6px;
    }
}